@import 'variables';

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

ul{
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    
}
li{
    display: inline-block;
}

/*  HEADER  */

.header{
    position: sticky;
    top: 0;
    &__navegacion{
        display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgb(252,163,17);
    background: linear-gradient(180deg, rgba(252,163,17,1) 0%, rgba(231,150,15,0.9023984593837535) 100%);
    }
    &__logo{
        height: 50px;
    }
    &__paginas{
        margin: 12px 12px;
        color: black;
        text-decoration: none;
        &:hover{
            color: white;
            transition:0.2s;
        }
    }
}


/*  MAIN  */
.principal{
    &__contenedor{
        display: inline-block;
        width: 100%;
        height: 700px;
        background-image:linear-gradient(
            0deg,
            rgba(250,250,250,0.5),
            rgba(250,250,250,0.7)
            )
            , url(../recursos/streetwear-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__centrartodo{
        text-align: center;
    }
    &__boton{
        font-size: 20px;
        text-align: center;
        padding: 5px 10px;
        background: rgb(252,163,17);
        background: linear-gradient(180deg, rgba(252,163,17,1) 0%, rgba(231,150,15,0.9023984593837535) 100%);
        border: 1px solid #FCA311 ;
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0,0.5);
        &:hover{
            background: rgb(20,33,61);
            background: linear-gradient(180deg, rgba(20,33,61,1) 0%, rgba(11,21,42,1) 100%);
            border: 1px solid #14213d;
            color: #FCA311;
            transition:0.2s;
            cursor: pointer;
        }
    }
}



.secundaria{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    &__contenedor{
        display: inline-block;
        margin: 10px;
        vertical-align: top;
        max-width: 50%;
        text-align: center;
    }
    &__imagen{
        display: inline-block;
        width: 400px;
        
    }
    &__texto{
        display: inline;
    }
}
/* le saco el margin para que tenga mas espacio la imagen con el texto
en la imagen de la seccion de abajo en index (Bootstrap) */
.row{
    margin-right: 0;
    margin-left: 0;
}
/* Le cambio este padding porque quedaba un espacio en
la imagen de la section de abajo en index (Bootstrap) */
.row>*{
    padding-right: 0;
    padding-left: 0;
}


/*  FOOTER  */

.footer{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #E5E5E5;
    &__contenedor{
        display: flex;
    }
    &__parrafo{
        margin-bottom: 0;
    }
    &__logo{
        height: 20px;
        margin: 0 0.5rem;
    }
    &__link{
        text-decoration: none;
        color: black;
        &:hover{
            color: #14213d;
        }
    }
}

/* Pagina PRODUCTOS */

/* se cambia imagen de fondo principal y tamaño*/
.principal{
    &__contenedorproductos{
        display: inline-block;
        width: 100%;
        height: 400px;
        background-image: url(../recursos/ropa.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__logo--internas{
        height: 200px;
        text-align: center;
    }
}

/* se cambia imagen de fondo principal y tamaño */

.productos{
    width: 100%;
    margin: auto;
    background-color: #E5E5E5;
    &__grid{
        display: grid;
        grid-template-areas: 'prod__uno prod__dos prod__tres'
                            'prod__cuatro prod__cinco prod__seis';
        justify-content: center;
    }
}
.prod{
    margin: 12px;
    background-color: white;
    text-align: center;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    /* "overflow: hidden;" para que se vea el border radius en la parte superior */
    overflow: hidden;
    box-sizing: border-box;
    &__uno{grid-area: prod__uno;}
    &__dos{grid-area: prod__dos;}
    &__tres{grid-area: prod__tres;}
    &__cuatro{grid-area: prod__cuatro;}
    &__cinco{grid-area: prod__cinco;}
    &__seis{grid-area: prod__seis;}
    &__titulo{
        background-color: #FCA311;
        background-position: center center;
        background-size: cover;
        padding: 6px 0;
        margin-bottom: 0;
    }
}

.imgproducto{
    width: 100%;
    height: 400px;
}

.btn{
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 10px;
    background-color: #FCA311;
    border: 1px solid #FCA311 ;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0,0.5);
    &:hover{
        color: #FCA311;
        background-color: #14213d;
        border: 1px solid #14213d;
        transition:0.2s;
        cursor: pointer;
    }
}

/* SOBRE NOSOTROS */
.principal{
    &__contenedornosotros{
        display: inline-block;
        width: 100%;
        height: 400px;
        background-image:linear-gradient(
            0deg,
            rgba(222,222,222,0.5),
            rgba(222,222,222,0.5)
            )
            , url(../recursos/ropita.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

/* INFORMACION*/
.principal{
    &__contenedorinfo{
        display: inline-block;
        width: 100%;
        height: 400px;
        background-image: linear-gradient(
            0deg,
            rgba(222,222,222,0.5),
            rgba(222,222,222,0.5)
            )
            , url(../recursos/fondo-info.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.info__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'img__info texto__info texto__info'
                        'texto__ubi texto__ubi ubicacion'
                        'img__envios texto__envios texto__envios'
}
.img__info{
    grid-area: img__info;
    
    background-image: 
        url("../recursos/fondo-info.jpg");
    background-size: cover;
    background-position: center center;
    width: 400px;
    height: 300px;
}

.texto__info{
    grid-area: texto__info;
    
}

.texto__ubi{
    grid-area: texto__ubi;
}
.ubicacion{
    grid-area: ubicacion;
}
.img__envios{
    grid-area: img__envios;
}
.texto__envios{
    grid-area: texto__envios;
}

.img__envios{
    background-image: 
        url("../recursos/envios.jpg");
    background-size: cover;
    background-position: center center;
    width: 400px;
    height: 300px;
}

.margin__grid{
    margin: 12px;
}


/* CONTACTO */
.principal{
    &__contenedorcontacto{
        display: inline-block;
        width: 100%;
        height: 400px;
        background-image:linear-gradient(
            0deg,
            rgba(250,250,250,0.3),
            rgba(250,250,250,0.3)
            )
            , url(../recursos/ropa-contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
.formulario{
    background-color: #E5E5E5;
    background-size: 100vw 100vh;
    padding: 12px;
    margin: 0;
    &__form{
        width: 400px;
        margin: auto;
        background-color: white;
        box-sizing: border-box;
        padding: 12px;
        border-radius: 5px;
    }
    &__texto{
        text-align: center;
    }
    &__btn{
        background-color: #FCA311;
        border: 1px solid #FCA311;
        &:hover{
            color: #FCA311;
            background-color: #14213d;
            border: 1px solid #14213d;
            transition:0.2s;
            cursor: pointer;
        }
    }
}

input,textarea{
    width: 100%;
    margin-bottom: 12px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}
textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
}






@media (max-width:1024px){
    /* index */
    /* HEADER */
    .header{
        position: static;
        &__contenedorpaginas{
            width: 100%;
        }
        &__navegacion{
            flex-direction: column;
        }
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* MAIN */
    .principal{
        width: 100%;
    }
    .secundaria{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 20px;
        &__contenedor{
            display: flex;
            flex-direction: column;
            margin: 12px;
            max-width: 100%;
        }
        &__imagen{
            box-sizing: border-box;
            width: 100%;
        }
    }
    /* FOOTER */
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1rem;
        &__contenedor--redes{
            position: static;
        }
        &__parrafo_none{
            display: none;
        }
        &__logo{
            margin: 0 0.5rem;
            width: auto;
        }
    }
    /* productos */
    .productos{
        display: flex;
        flex-direction: column;
    }
    .prod{
        width: auto;
    }

    /* informacion */
    .formulario__form{
        width: auto;
    }
}
@media (max-width:451px){
    .footer{
        &__parrafo{
            font-size: 3vw;
        }
        &__link{
            font-size: 2vw;
        }
    }
}